<form action="/verify" method="post">
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8" style="color:rgb(224, 224, 224);">
                <h2 class="header2">Search For Your Perfect Domain Name</h2>
                <h5>Search a domain of your choice <b style="color:rgb(238, 238, 0)">from Ksh 1,500/yr</b></h5>
                <div class="search">
                    <i class="fa fa-search" style="color: black;"></i>
                    <input style="border-radius:20px;" type="text" required name="domain" autocomplete="off" id="val" class="form-control" onclick="check()" placeholder="eg: example.com">
                    <button type="submit" class="btn btn-primary" style="border-radius:20px;" id="search">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>